<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid justify-content-center d-flex flex-column align-items-center">
  <a class="navbar-brand text-danger fw-bold fs-4" href="#">
    <i class="fas fa-umbrella-beach me-2"></i> ReWear
  </a>
  <span class="text-muted small fst-italic">Stay your style. Anywhere.</span>
</div>
</nav>